<table>
	<tr>
		<td><H1><%= @user.username %></H1>

			<h2>User information</h2>
			<p>Email: <%= link_to @user.email, 'mailto:'+@user.email %></p>
			
		</td>
		<td>
			Picture here
		</td>
	</tr>
</table>